<div class="container">
  <div class="header">
    <button class="logout-btn" (click)="logout()">Wyloguj</button>
    <h1>Witaj, {{ currentUsername }}</h1>
  </div>

  <div class="cities-list">
    <h2>Lista miast: </h2>
    <br>
    <ul>
      <li *ngFor="let city of cities$ | async" (click)="selectCity(city.id)">
        {{ city.name }}
      </li>
    </ul>
  </div>

  <div *ngIf="selectedCity$ | async as selectedCity" class="city-details">
    <h3>Szczegóły miasta: {{ selectedCity.name }}</h3>
    <div *ngFor="let paragraph of selectedCityData$ | async">
      <p><strong>Nagłówek:</strong> {{ paragraph.header }}</p>
      <p><strong>Treść:</strong> {{ paragraph.body }}</p>
      <div *ngIf="currentUsername === selectedCity.editor">
        <form [formGroup]="editForm">
          <label for="content">Edytuj treść:</label>
          <textarea id="content" formControlName="content"></textarea>
          <button type="button" (click)="updateContent(paragraph.id, editForm.value.content)">Zapisz zmiany</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</div>