<div class="container">
  <div class="header">
    <div class="user-info">
      <h1>Witaj, {{ userName }}</h1>
      <img *ngIf="userProfilePic" [src]="userProfilePic" alt="Profile Picture" class="user-profile-pic">
      <button class="logout-btn" (click)="logout()">Wyloguj</button>
    </div>
  </div>
  <h2>Lista miast: </h2>
  <br>
  <div class="cities-list">
    <ul>
      <li *ngFor="let city of cities$ | async" (click)="selectCity(city.id)">
        {{ city.name }}
      </li>
    </ul>
  </div>

  <div *ngIf="selectedCity$ | async as selectedCity" class="city-details">
    <h3>Szczegóły miasta: {{ selectedCity.country }}</h3>
    <div *ngFor="let paragraph of selectedCityData$ | async">
      <p><strong>Nagłówek:</strong> {{ paragraph.header }}</p>
      <p><strong>Treść:</strong> {{ paragraph.body }}</p>
      <div *ngIf="userEmail === selectedCity.editor"> <!-- Updated to use userEmail -->
        <form [formGroup]="editForm">
          <label for="content">Edytuj treść:</label>
          <textarea id="content" formControlName="content"></textarea>
          <button type="button" (click)="updateContent(paragraph.id, editForm.value.content)">Zapisz zmiany</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</div>
